@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    color: black;

    /* used by navbar */
    --activeColor: #7dd3fc;
}

body {
    margin: 0;
    min-height: 100vh;
}

.heroBackground {
    width: 100vw;
    max-height: 100vh;
}

ul.navList > li {
    @apply block cursor-pointer text-left;
}

ul.navList > li.active {
    color: var(--activeColor);
}

.menu-hidden {
    transform: translateY(-100%);
}

.rule-list {
    counter-reset: rules;
}

.rule-list > li {
    position: relative;
}

.rule-list > li::before {
    @apply block bg-sky-400 dark:bg-sky-800 dark:text-white mx-auto my-8 h-16 w-16 rounded-full flex items-center justify-center;

    counter-increment: rules;
    content: counter(rules);
}

.rule-list > li:first-of-type::before {
    margin-top: 0;
}

.tb-png {
    background-image: url(../img/logo_white.png);
    width: 5rem;
    height: 5rem;
    background-size: 5rem;
    display: block;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7467%) hue-rotate(86deg) brightness(102%) contrast(102%);
}

.tb-png:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(60%) saturate(2866%) hue-rotate(194deg) brightness(95%) contrast(88%);
}

.trucky-png {
    background-image: url(../img/trucky_logo.png);
    width: 5.5rem;
    height: 5.5rem;
    background-size: 5.5rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7467%) hue-rotate(86deg) brightness(102%) contrast(102%);
}

.trucky-png:hover {
    filter: brightness(0) saturate(100%) invert(11%) sepia(96%) saturate(3735%) hue-rotate(330deg) brightness(94%) contrast(90%);
}

.header-box {
    position: relative;
    text-transform: uppercase;
    @apply text-5xl sm:text-6xl tracking-wider rounded leading-snug mx-10 after:-bottom-2 after:absolute mx-10;
}

.header-box::after {
    content: '';
    display: block;
    @apply bg-sky-500;
    width: calc(100% + 2.5rem);
    left: -1.25rem;
    height: 3px;
    box-shadow: 0 2px 6px #0ea5e9;
}

.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 10;
    @apply my-10;
}

.offer-section:hover .circle-icon > i {
    transform: scale(.8);
    @apply text-white;
}

.circle-icon::after {
    --diameter: 180%;

    display: block;
    position: absolute;
    content: '';
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    transform: scale(0);
    z-index: -1;

    @apply transition-transform;
}

.offer-section:hover .circle-icon::after {
    transform: scale(1);
}

@media screen(sm) {
    .header-box::after {
        height: 5px;
        @apply -bottom-4;
    }
}


@media screen(lg) {
    .menu-hidden {
        transition: none;
        transform: none;
    }

    ul.navList > li {
        @apply inline-block ml-4;
    }

    ul.navList > li:first-of-type {
        @apply ml-0;
    }

    .rule-list > li::before {
        content: none;
    }
}