@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-size: 16px;
    font-family: 'Lato', sans-serif;

    color: black;

    /* used by navbar */
    --activeColor: #7dd3fc;
}

body {
    margin: 0;
    min-height: 100vh;
}

.heroBackground {
    width: 100vw;
    max-height: 100vh;
}

ul.navList > li {
    @apply block cursor-pointer text-left;
}

ul.navList > li.active {
    color: var(--activeColor);
}

.menu-hidden {
    transform: translateY(-100%);
}

.rule-list {
    counter-reset: rules;
}

.rule-list > li {
    position: relative;
}

.rule-list > li::before {
    @apply block bg-sky-400 dark:bg-sky-800 dark:text-white mx-auto my-8 h-16 w-16 rounded-full flex items-center justify-center;

    counter-increment: rules;
    content: counter(rules);
}

.rule-list > li:first-of-type::before {
    margin-top: 0;
}

.header-box {
    position: relative;
    text-transform: uppercase;
    @apply text-5xl sm:text-6xl tracking-wider rounded leading-snug mx-10 after:-bottom-2 after:absolute mx-10;
}

.header-box::after {
    content: '';
    display: block;
    @apply bg-sky-500;
    width: calc(100% + 2.5rem);
    left: -1.25rem;
    height: 3px;
    box-shadow: 0 2px 6px #0ea5e9;
}

@media screen(sm) {
    .header-box::after {
        height: 5px;
        @apply -bottom-4;
    }
}


@media screen(lg) {
    .menu-hidden {
        transition: none;
        transform: none;
    }

    ul.navList > li {
        @apply inline-block ml-4;
    }

    ul.navList > li:first-of-type {
        @apply ml-0;
    }

    .rule-list > li::before {
        content: none;
    }
}